@import "tailwindcss";

@layer components {
  .btn-primary {
    @apply h-16 w-full px-8 text-xl font-bold text-white bg-green-600 rounded-2xl hover:bg-green-700 transition-all flex items-center justify-center shadow-lg active:scale-95 cursor-pointer;
  }
}